<script>
  $(() => {
  $("#datepicker").datepicker({
      onSelect: function(date, obj) {
        $.getJSON('/api/v1/dailyplan', {
          "date": this.value
        }).then((data) => {
          let tbody = $('#dailyPlan tbody')
          $(tbody).empty()
          data.forEach((item) => {
            tbody.append($(`<tr>
            <td>${item.time}</td>
            <td>${item.plan}</td>
            <td><a href="${item.lessonLink}">${item.lesson}</a></td>
            </tr>`))
          })
        })
      }
    })
  })

  // <!-- $('td[data-handler="selectDay"]').click(function){
  //   console.log(this.date)
  // } )
  // <!-- $('td[data-handler="selectDay"]').click(function){
  //   console.log(this.date)
</script>
