<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Learn. More. Better.</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">MY DASHBOARD</a></li>
      <li><a href="/dailyplan">MY DAILY PLAN</a></li>
      <li><a href="/assts">MY ASSIGNMENTS</a></li>
      <li><a href="/helps">MY HELP BOARD</a></li>
      <li><a href="https://learn.galvanize.com/cohorts/236/units" target="_blank">UNITS</a></li>
      <li id='logout'><a href="/logout">LOG OUT</a></li>
    </ul>
  </div>
</nav>

<script>
  $('#logout').click(() => {
    $.ajax({
      url: './logout',
      method: 'get',
      success: function(data) {
        window.location = './'
      },
      error: function(error) {
          console.log('ajax error in delete')
        }
        .done(() => {
          console.log('done')
        })
    })
  })
</script>
