
<ul>
<% for(var i=0; i<todos.length; i++) {%>
   <li><%= todos[i].priority %> : <%= todos[i].title %><%= todos[i].description %></li>
<% } %>
<!-- <a type="button" class= "btn btn-default" href="/todo/new">New Todo</a> -->
</ul>
