<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head.ejs %>
</head>
<body>
  <main>
    <% include ./partials/nav.ejs %>
      <div class="container">
        <h1 class="center-align">Learn | More | Better.</h1>
        <div class="container col-xs-1" align="center">
          <div class="row" align="center">
            <img src="/images/galvanize_logo_orange_bg_200x200_360.jpg" class="circle">
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="loginPassword" type="password" class="validate" required="required">
              <label for="password" class="active">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="loginEmail" type="email" class="validate" required="required">
              <label for="email" class="active">Email</label>
            </div>
          </div>
        </div>
      </div>
  </main>
  <script src="../javascripts/index.js"></script>
  <% include ./partials/footer.ejs %>
</body>

</html>
