<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head.ejs %>
</head>

<body>
  <% include ./partials/nav.ejs %>
    <div class="container">
      <h1 class="center-align">Learn. More. Better.</h1>
      <div class="container col-xs-1" align="center">
        <div class="row" align="center">
          <img src="/images/galvanize_logo_orange_bg_200x200_360.jpg">
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="loginPassword" type="password" class="validate" required="required">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="loginEmail" type="email" class="validate" required="required">
            <label for="email">Email</label>
          </div>
        </div>
      </div>
    </div>

    <script src="../javascripts/index.js"></script>
    <% include ./partials/footer.ejs %>
</body>

</html>
