<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <h1><%= title %></h1>

    <table id="dailyPlan" class="table table-inverse">
      <thead>
        <th>Time</th>
        <th>Plan</th>
        <th>Lesson Info</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
      </tbody>
    </table>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 </body>

</html>
=======
<table id="dailyPlan" class="table table-inverse">
  <thead>
    <th>Time</th>
    <th>Plan</th>
    <th>Lesson Info</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
  </tbody>
</table>
>>>>>>> b99cdbdd7753ce87e04b10f0a04ce36fbeac1ac2
