
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>


    <% include ../partials/nav.ejs %>
<div id="datepicker" class="chicken"></div>
    <table id="dailyPlan" class="table table-inverse">
      <thead>
        <th>Time</th>
        <th>Plan</th>
        <th>Lesson Info</th>
      </thead>
      <tbody>
      </tbody>
    </table>
      <% include ../partials/functions.ejs %>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
    integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
    crossorigin="anonymous"></script> -->

    <!-- <script src="../javascripts/functions.js" charset="utf-8"></script> -->
 </body>
</html>
