
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>


    <% include ../partials/nav.ejs %>
<div id="datepicker"></div>
    <table id="dailyPlan" class="table table-inverse">
      <thead>
        <th>Time</th>
        <th>Plan</th>
        <th>Lesson Info</th>
      </thead>
      <tbody>
      </tbody>
    </table>


      <% include ../partials/functions.ejs %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 </body>

</html>
