
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>

  </head>
  <body>
    <% include ../partials/nav.ejs %>

    <table id="assignments" class="table">
      <thead>
        <th>Assignment</th>
        <th>Description</th>
        <th>Location URL</th>
        <th>Submission URL</th>
      </thead>
      <tbody>
      </tbody>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
    integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
    crossorigin="anonymous"></script>
    <script src="../javascripts/dailyplan.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </body>
</html>
