
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
<script src="../javascripts/assts.js"></script>
  </head>
  <body>
    <% include ../partials/nav.ejs %>

    <table id="assignments" class="table">
      <thead>
        <th>Assignment</th>
        <th>Unit</th>
        <th>Submission URL</th>
        <th>Grade</th>
      </thead>
      <tbody>
      </tbody>
    </table>

 </body>
</html>
