
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
<script src="../javascripts/assts.js"></script>
  </head>
  <body>
    <main>
    <% include ../partials/nav.ejs %>
    <table id="assignments" class="table">
      <thead>
        <th>Assignment</th>
        <th>Unit</th>
        <th>Submit</th>
        <th>Grade</th>
        <th>Help</th>
      </thead>
      <tbody>
      </tbody>
    </table>
      </main>
  <% include ../partials/footer.ejs %>

 </body>
</html>
