
<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
<script src="../javascripts/helps.js"></script>
  </head>
  <body>
    <% include ../partials/nav.ejs %>

    <table id="helps" class="table">
      <thead>
        <th>Assignment</th>
        <th>Student</th>
        <th>Contact</th>
        <th></th>
      </thead>
      <tbody>
      </tbody>
    </table>
 </body>
</html>
