<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
    <script src="../javascripts/helps.js"></script>
</head>
<body>
  <main>
    <% include ../partials/nav.ejs %>
    <div class='row'>
      <table id="students" class="table col offset-m1 m8 s12">
        <thead>
          <th></th>
          <th>Assignment</th>
          <th>Students</th>
          <th>Email</th>
        </thead>
        <tbody>
        </tbody>
      </table>

    </div>
  </main>
  <% include ../partials/footer.ejs %>
</body>
</html>
